.item {
  border: 1px solid black;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: box-shadow 250ms ease-in-out;
}
.item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.name {
  font-size: 20px;
}
.status {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: red;
  display: block;
}
.online {
  composes: status;
  background-color: green;
}
.offline {
  composes: status;
  background-color: red;
}
